* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  /* border: none; */
}

:root {
  --color-black: #000;
  --color-blue-muted-dark: #4b4b4b;
  --color-blue-dark: #2f4856;
  --color-blue-light: #4c83a2;
  --color-teal: #4cc4d4;
  --color-white: #fff;
  --color-yellow: #fdb813;
  --color-primary: #f05a22;
  --color-primary-hover: #f48b64;
  --color-secondary-hover: var(--color-border);
  --color-secondary: var(--color-black);
  --color-highlight: #ff6127;
  --color-border: #333;
  --color-grey: #f5fafa;
  --color-light-grey: #999;
  --color-purple: #baa4db;
  --color-dark-grey: #4b4b4b;
  --color-dark-grey-transparent: #222222e5;
  --color-text: var(--color-white);
  --color-text-secondary: var(--color-blue-muted-dark);
  --color-background-previews: #f4f4f2;
  --color-border-light-grey: #f0eeed;
  --color-border-purple: #baa4db;
  --color-border-blue: #53a3d0;
  --color-border-orange: #ff6127;
  --color-border-teal: #4cc4d4;
  --color-border-mustard: #ffb70a;
}

body {
  /* background-color: blueviolet; */
}

/* header styling */

header {
}

.header-container {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 4px solid rgb(0, 255, 132); */
  /* min-width: 500px; */
  /* padding: 10px 0; */
  height: 8vw;
  padding: auto 0;
}

.header-writeup {
  display: flex;
  /* background-color: bisque; */
  gap: 60px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
    sans-serif;
  font-weight: 300;
}

.logo-container {
  display: flex;
  gap: 70px;
  align-items: center;
  /* border: 10px solid red; */
}

.btn button {
  padding: 13px 19px;
  border-radius: 10px;
}

.btn a {
  text-decoration: none;
  color: var(--color-black);
}

/* button:hover { */
  background-color: var(--color-border-orange);
  opacity: 0.7;
}

/* styling for header chevron */

.rotate-up {
  /* border: 1px solid red; */
  transition: transform 0.3s ease-in-out;

  display: inline-block;
}

.dropdown:hover .rotate-up {
  transform: rotate(180deg);
  /* color: #f05a22; */
}

/* styling for ul */

.apper-on-hover ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  background-color: var(--color-white);
  border-radius: 10px;
}
.apper-on-hover li:nth-child(5) {
  width: 150px;
}
.apper-on-hover a {
  text-decoration: none;
  color: var(--color-black);
}
.teams-container {
  position: relative;
  display: inline-block;
}
.apper-on-hover {
  position: absolute;
  /* border: 1px solid red; */
  border-radius: 10px;
  top: 26px;
  /* display: block; */
  display: none;
}

.teams-container2 {
  position: relative;
  display: inline-block;
}
.apper-on-hover2 {
  position: absolute;
  /* border: 1px solid red; */
  border-radius: 10px;
  top: 26px;
  /* display: block; */
  display: none;
}

.change-color {
  background-color: var(--color-white);
  padding: 8px 12px;
  color: #f05a22;
  /* background-color: #f05a22; */
}

.change-color:hover {
  background-color: var(--color-border-light-grey);
}

.teams-container:hover .apper-on-hover {
  display: block;
}

/* hamburger */
.hamburger-container {
  display: none;
}
label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* border: 1px solid rgb(0, 128, 38); */
}

input[type="checkbox"] {
  display: none;
}

.hamburger-bar img {
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

.hamburger-click-display {
  display: none;
}

.header-hamburger-toggler {
  display: none;
}

input[type="checkbox"]:checked ~ .hamburger-click-display {
  display: block;
}

body:has(input[type="checkbox"]:checked){
  /* display: none; */
  /* position: absolute; */
  /* position: fixed; */
  /* z-index:2; */
  /* right: -5rem; */

  
  /* background-color: #baa4db; */
}
/* hambuger display on click styling */
.hamburger-click-display {
  /* width: 96vw; */
  /* margin: 0 auto; */
  gap: 40px;
  width: 100%;
  position: absolute;
  /* position: fixed; */
  z-index:2;
  min-height: 100vh;
  overflow-y: scroll;
  /* border: 5px solid red; */
  left: 0;
  top: 4rem;
  background-color: white;
  
}






.hamburger-container{

}

.display-on-click ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.display-on-click a {
  text-decoration: none;
  color: var(--color-light-grey);
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
    sans-serif;
}
.display-on-click span {
  padding: px 0;
  color: #f05a22;
}
.innear-buger h4 {
  /* border: 1px solid red; */
  margin-bottom: 24px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
    sans-serif;
}

.innear-buger2 h4 {
  /* border: 1px solid red; */
  margin-bottom: 24px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
    sans-serif;
}

.innear-buger {
  margin-top: 35px;
}

/* section styling */
 section{
  /* border: 10px solid rgb(0, 195, 255); */
 }

 .section-main-container{
  /* border: 4px solid rgb(55, 0, 255); */
 
 }

 .text-section{
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* border: 4px solid rgb(31, 29, 29); */
  width: 67vw;
  margin: 0 auto;
 }

 .text-section h1{
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
    sans-serif;
    /* border: 1px solid red; */
    flex: 1 3 48%;
    line-height: 60px;
    font-size:clamp(3rem, 2vw + 1rem, 1rem);
    
 }

 .text-section p{
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  /* width: vw; */
 
  line-height: 23px;
  font-size: clamp(0.80rem, 1.5vw + 0.5rem, 1rem);

 }
/* styling for section btn */
 .section-btn{
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  
 }


 .section-btn-position{
  /* border: 1px solid black; */
  height: fit-content;
  
 }

 
 .section-btn-position a{
  /* border: 1px solid black; */
  height: fit-content;
  padding: 0.8em 0.1em;
  
 }
 

 
 .section-btn3 {
   border: none;
   background-color: var(--color-white);
   background-color: rgba(245, 245, 245, 0.757);
 }



 
 .section-btn-outline{
  background-color: var(--color-border-orange);
  color: var(--color-white);
 }

 .section-btn a{
  text-decoration: none;
  color: var(--color-black);
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
 }
 .section-btn-outline2{
  background-color: rgba(245, 245, 245, 0.757);
  padding: 0 20px;
 }

 .section-btn-outline2:hover{
  /* background-color: var(--color-white); */
  box-shadow: 1px 1px 2px var(--color-black);
 }
 .section-btn-container{
  display: flex;
  gap: 10px;
  /* border: 10px solid red; */
  /* width: 30vw; */
 }

 .btn-flex-iteam{
  /* border: 10px solid rgb(0, 255, 60); */
  flex: 60rem 1 50%;
 }

 
 .btn-flex-iteam2{
  /* border: 10px solid rgb(0, 255, 60); */
  flex: 60rem 1 30%;
 }
 .chevron-down-outline{
  /* border: 1px solid blue; */
  padding: 0 10px;
 }
/* styling of btn display on click */

.container-btn-display-on-click{
  
  border: 3px solid var(--color-black);
  background-color:var(--color-white);
  display: none;
  color: var(--color-black);
  border-radius: 10px;
  overflow: hidden;
  transition: max-height 0.5s ease;
  /* width: vw; */
  margin-top: 20px;
  /* display: inline-block; */
}

.innear-label-outline{
  /* border: 1px solid rgb(112, 218, 149); */
  padding: 13px 20px;
  /* padding-right: 15px; */
  display: flex;
  gap: 10px;
  /* padding: 20px 20px; */

  /* display: inline-block; */
  
  /* background-color: #53a3d0; */
}

.innear-label{
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-border-orange);
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  border-radius: 5px;

}


.innear-label-outline:hover{
  background-color:rgba(254, 253, 253, 0.293) ;
  opacity: 0.9;
  
}

.btn-display-on-click ul{
  list-style-type: none;
}

.btn-display-on-click li{
  /* border: 1px solid black; */
  padding: 18px 18px;
  /* display: flex; */
  gap: 3px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  font-weight: 300;
  font-size: 15px;
  position: relative;
  transform: 250ms ease-in;
  max-height: 30vh;
  
}
.btn-display-on-click li:hover{
  background-color: var(--color-light-grey);
}


.small-logo{
  position: absolute;
  left: 1px;
  /* border: 1px solid red; */
  display: none;
  transition:0.3s ease-in-out;
  color: var(--color-white);
  
}

.small-logo-container:hover .small-logo{
  display: block;
  
  
}


.btn-display-on-click{
  /* border: 3px solid red; */
  /* width: 270px; */
  
  

}



input[type="checkbox"]:checked~.container-btn-display-on-click {
  display: block;
  /* max-height: 1000px; */
  
}



/* animtion styling */
.animation-container{
  display: flex;
  /* border: 1px solid rgb(21, 20, 20); */
 
  align-items: flex-start; 

  
}

.animation-container-img{
  /* border: 2px solid rgb(64, 255, 0); */
  display: flex;
  align-items: center;
  animation: dropdown 2s ease-in-out infinite ;
  /* overflow: hidden; */
  flex: 1 3 55%;
  
}

.animation-small-phone {
  display: none;
  /* border: 1px solid green; */
  color: var(--color-border-orange);
  animation: dropdown2 2s ease-in-out infinite ;
  font-size: clamp(2rem, 1.5vw + 0.5rem, 1rem);

}

.text-animation {

  /* border: 1px solid rgb(0, 145, 255); */
  
  
 

  
  
}

.text-animation p{
  font-size: clamp(2.4rem, 2vw + 0.5rem, 0.10rem);
  line-height: 3rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;

}

/* styling of main icon container */
.main-icon-container{
  /* border: 4px solid rgba(12, 247, 247, 0.274); */
  /* display: none; */
}
.icon-container{
  
  display: flex;
  gap: 1rem;
  position: relative;
  
    height:50rem;
    min-height: 49rem;
    overflow: hidden;

   /* border: 10px solid rgb(191, 224, 3); */
   /* padding-bottom: 60rem;  */
}

.icon-flex-iteam{
  /* border: 4px solid green; */
  flex: 1 1 30%;
  
  width: 10vw;

  
  
  
 
}

.icon-background{
  background: url(images/icon.barground.svg) no-repeat center center / cover fixed;
  /* opacity: 0.7; */
  background-color: rgba(255, 255, 255, 0.527);
  border: none;
  outline: none;
  /* overflow: hidden; */
  /* border: 1px solid black; */
  width: 67vw;
  /* position:relative; */
 
  margin: 0 auto;
  
  
}

.icon-container-write-up{
  /* border: 3px solid red; */

  border-radius: 10px;


  /* padding: 20px 20px; */
}

.icon-outline1{
  border: 4px solid var(--color-background-previews);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  cursor: pointer;
  font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);

}

.icon-outline2{
  border: 4px solid var(--color-background-previews);
  padding: 19px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  cursor: pointer;
  font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
  color: #f05a22;
  overflow:hidden ;
}

.icon-outline3{
  border: 4px solid var(--color-background-previews);
  padding: 19px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
 cursor: pointer;
 font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
}

.icon-outline1:hover{
  background-color: var(--color-white);
}

.icon-outline2:hover{
  background-color: var(--color-white);
}

.icon-outline3:hover{
  background-color: var(--color-white);
}

/*  icon display image styling */



.icon-image-container{
  display: none;
  position: absolute;
  /* border: 3px solid rgb(0, 255, 221); */
  top: 27%;
  /* background: url(images/icon.barground.svg) no-repeat center center / cover fixed; */
}



.icon-image-container img{
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  /* padding-top: 60px; */
}


.icon-image-container2 img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  /* padding-top: 60px; */
}

.icon-image-container3 img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  /* padding-top: 60px; */
}

.icon-image-container3{
  display: none;
  position: absolute;
  /* border: 3px solid rgb(255, 0, 149); */
  top: 28%;
  right: 0%;
  /* background: url(images/icon.barground.svg) no-repeat center center / cover fixed; */
}

.icon-image-container4 img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  /* padding-top: 60px; */
}




.icon-image-container5 img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  /* padding-top: 60px; */
}

.icon-image-container5{
  display: none;
  position: absolute;
  /* border: 3px solid rgb(15, 18, 13); */
  top: 28%;
  right: 0%;
  /* background: url(images/icon.barground.svg) no-repeat center center / cover fixed; */
}




.icon-image-container4{
  display: none;
  position: absolute;
  /* border: 3px solid rgb(197, 176, 14); */
  top: 28%;
  right: 0%;
  /* background: url(images/icon.barground.svg) no-repeat center center / cover fixed; */
}




.icon-image-container2{
  display: none;
  position: absolute;
  /* border: 3px solid rgb(89, 255, 0); */
  top: 28%;
  right: 0%;
  /* background: url(images/icon.barground.svg) no-repeat center center / cover fixed; */
}

input[type="checkbox"]:checked~.icon-image-container {
  display: block;
  
  /* max-height: 1000px; */
  
}
input[type="checkbox"]:checked~.icon-outline2{
  display: block;
  background-color: #f05a22;
  
  /* max-height: 1000px; */
  
}

.icon-outline1:active{
  border-color: #f05a22;
}

.icon-outline2:active{
  border-color: var(--color-purple);
}

.icon-outline3:active{
  border-color: rgb(76, 196, 212);

}


.icon-image-container2{
  display: none;
}



input[type="checkbox"]:checked~.icon-image-container2 {
  display: block;
  /* max-height: 1000px; */
  
}
 


input[type="checkbox"]:checked~.icon-image-container3 {
  display: block;

  
}

input[type="checkbox"]:checked~.icon-image-container4 {
  display: block;

  
}


input[type="checkbox"]:checked~.icon-image-container5 {
  display: block;

  
}



/* styling of display on smaller screen */

.display-on-smaller-screen{

  /* border: 6px solid sandybrown; */
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  gap: 0.2rem;
  flex-wrap: wrap;
  gap: 10px;
  /* margin: 0 auto; */
 /* width: 67vw; */
}


.display-on-smaller-screen-inear{
  flex: 1px 1px 50%;
    /* border: 1px solid greenyellow; */
    /* border-radius: 7px; */
    border: none;
    /* width: fit-content; */

    /* width: 100%; */
}


input[type='email']{
  width: 100%;
  min-width: 4rem;
  padding: 0.90em  0.9rem;

  box-shadow: 1px 1px 20px var(--color-black);
  border-radius:6px;
  border-color: transparent;



  box-sizing: border-box;
}

input[type='email']:focus{
  border-color: #f05a22;
  outline: none;
  
}


input[type='email']::placeholder{

  color: var(--color-black);
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  opacity: 0.7;
  
}





.display-on-smaller-screen-inear2{
  flex: 1px 1px 50%;
  
  /* border: 1px solid rgb(172, 3, 244); */
}

.display-on-smaller-screen-inear2 button{
  /* box-sizing: border-box; */
  padding: 10px  15px;
  border-radius: 8px;
  border:none;
  color: #f0eeed;
  background-color: var(--color-border-orange);
}


.display-on-smaller-screen-inear2 button:hover{
  background-color: rgba(248, 238, 238, 0.346);
  opacity: 0.9;
}
 

/* styling for smaller screen outline product */


 .main-icon-smaller-container{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: ; */
  /* border: 3px solid white; */
  text-align: center;
  gap: 0.5rem;
 }


 .icon-smaller{
  flex: 1 1 45%;
  border: 2px solid var(--color-border-light-grey);
  border-radius: 10px;
  padding: 10px 0;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
 
  

 }

 .icon-smaller1{
  flex: 1 1 45%;
  border: 2px solid var(--color-border-light-grey);
  border-radius: 10px;
  padding: 10px 0;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;

 }

 .icon-smaller2{
  flex: 1 1 45%;
  border: 2px solid var(--color-border-light-grey);
  border-radius: 10px;
  padding: 10px 0;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;

 }


 .icon-smaller3{
  flex: 1 1 45%;
  border: 2px solid var(--color-border-light-grey);
  border-radius: 10px;
  padding: 10px 0;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;

 }

 .icon-smaller4{
  flex: 1 1 10%;
  border: 2px solid var(--color-border-light-grey);
  border-radius: 10px;
  padding: 10px 0;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;

 }


 .icon-smaller:focus {
  outline: none;
  border-color: rgb(186, 164, 219);
  
}

.icon-smaller1:focus {
  outline: none;
  border-color: rgb(83, 163, 208);

  
}


.icon-smaller2:focus {
  outline: none;
  border-color:   #FF6127;

  
}

.icon-smaller3:focus {
  outline: none;
  border-color:rgb(76, 196, 212);

  
}


.icon-smaller4:focus {
  outline: none;
  border-color:rgb(255, 183, 10);

  
}


 .size-product h4 {
  /* border: 1px solid palegoldenrod; */
  /* padding: 10px 2px; */
 }


 /* styling for smaller screen outline product img*/



 .main-icon-smaller-container{
  position: relative;
 }

 .icon-smaller-images {
  position: absolute;
  /* border: 1px solid rgb(27, 245, 7); */
  top: 130%;
  right:0% ;
  display: none;
  
 /* backdrop-filter: blur(10px); */
 
  
 }

 .icon-smaller-images2{
  position: absolute;
  /* border: 1px solid rgb(190, 7, 245); */
  top: 130%;
  right:0% ;
  display: none;
 }
 .icon-smaller-images2 img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  
 }

 .icon-smaller-images img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  
 }

 


 .icon-smaller-images3{
  position: absolute;
  /* border: 1px solid rgb(201, 245, 7); */
  top: 130%;
  right:0% ;
  display: none;
 }
 .icon-smaller-images3 img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  
 }



 .icon-smaller-images4{
  position: absolute;
  /* border: 1px solid rgb(201, 245, 7); */
  top: 130%;
  right:0% ;
  display: none;
 }


 .icon-smaller-images4 img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  
 }


 .icon-smaller-images5{
  position: absolute;
  /* border: 1px solid rgb(201, 245, 7); */
  top: 130%;
  right:0% ;
  display: none;
 }

 .icon-smaller-images5 img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  
 }


 


input[type="checkbox"]:checked ~ .icon-smaller-images {
  display: block;
}



 

input[type='checkbox']:checked~.icon-smaller-images2{
  display: block;
}


input[type='checkbox']:checked~.icon-smaller-images3{
  display: block;
}



input[type='checkbox']:checked~.icon-smaller-images4{
  display: block;
}


input[type='checkbox']:checked~.icon-smaller-images5{
  display: block;
}

/* styling text-image-main-container */

.text-image-main-container{
  /* border: 2px solid snow; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.text-image-container{
  /* border: 2px solid black; */
  max-height: 100%;
  /* height: 60rem; */
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: space-evenly;
  gap: 6rem;
  
  
}

.image-container img{
  /* border: 1px solid red; */
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.image-container{
   flex: 1 1 100%;
}

.text-container{
  /* border: 2px solid rgb(0, 119, 255); */
  flex:1 1 60% ;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  /* margin-right: 0.80em; */
}

.text-container h4{
  
  /* border: 1px solid green; */
  font-size:clamp(2.5rem, 1vw + 1em, 0.75em);
  
 
}



.h-outline{
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  
}







.cursor-image img{
  cursor: url('coursor file/cursor.cur'), auto;
}



.container-text-with-icon{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  
  /* border: 1px solid snow; */
}
 
.text-with-icon{
  display: flex;
  gap: 0.4em;
  font-size:clamp(0.80em, 2vw + 14rem, 0.75em);

}

.text-with-icon1{
  /* border: 1px solid black; */
  flex: 1 1 40%;
}

.text-with-icon2{
  /* border: 1px solid rgb(21, 161, 255); */
  flex: 1 1 30%;
}

.text-with-icon3{
  /* border: 1px solid rgb(194, 1, 1); */
  flex: 1 1 40%;
}

.text-with-icon4{
  /* border: 1px solid rgb(16, 196, 9); */
  flex: 1 1 30%;
}

.text-image-container-outline{
  padding: 4rem 4rem;
}

.text-image-container-outline2{
  padding: 1rem 4rem;
}

.text-image-container-outline3{
  padding: 3rem 3rem;
}
.text-write-up p{
  line-height: 1.8rem;
  font-size:clamp(0.8em, 2vw + 14rem, 0.75em);
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;

}

.container-text-with-icon2{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
}

.text-image-container-color{
    background-color: var(--color-border-purple);
}

.text-image-container-color1{
  background-color: var(--color-blue-light);
}

.text-image-container-color2{
  background-color: var(--color-border-orange);
}

.text-image-container-color3{
  background-color: var(--color-teal);
}

.text-image-container-color4{
  background-color: var(--color-yellow);
}


/* styling for marquee */

.marquee {
  width: 100%;
  overflow: hidden;
  background-color:var(--color-white);
  box-sizing: border-box;
  position: relative;
}

.marquee-item{
  border-radius: 10px;
  /* border: 3px solid gray; */
  max-height:100vh ;
  min-height: 40vh;
  
  /* padding-bottom: 3rem; */
}

.marquee-item:hover{
  border:3px solid var(--color-border-orange);
}

.marquee-item img{
  width: 50px;
  height:50px;
  object-fit: cover;
  border-radius: 50%;
}

.marquee-content{
  display: flex;
  gap: 3rem;
  animation: marquee 60s linear infinite;
  cursor: pointer;
}

.round{
  padding: 1rem 1rem;
  display: flex;
  gap: 0.6em;
  align-items: center;
}

.round2{
  padding: 1rem 2rem;
}


/* styling container-for-marquee-text-image" */

.container-for-marquee-text-image{
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
  /* border: 5px solid black; */
  margin-top: 12rem;
  /* padding-top: 50px; */

}


/* styling of FAQS container */

.faqs-main-container{
  /* border:  2px solid red; */
}

.faqs-write-up{
  /* border: 1px solid black; */
  width: 57vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  
}

.smaller-write-up{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  line-height: 1.5em;
  
}

.smaller-write-up li{
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  color: rgb(75, 75, 75);
  font-size: 0.9em;
  /* border: 1px solid red; */

  
}

.smaller-write-up ul{
  padding-left: 1rem;
 
}

.marquee-container{
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

/* styling for footer */

footer{
  /* border: 3px solid red; */
}

.main-footer-container{
  /* border: 2px solid black; */
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

.footer_image img{
  max-width: 100%;
  height: auto;
  object-fit: cover; 

}

.footer_image{
  /* border: 2px solid olive; */
  flex-basis:50%;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  /* border: 4px solid blue; */
  border-radius: 18px;
  background-color: var(--color-black);
 
  padding: 2rem;
  /* background-color: #000; */
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  
}


.footer-write-up{
  display: flex;
  flex-direction: column;
  gap: 16rem;
  /* border: 2px solid orangered; */
  flex-basis:70%;


}

.write-up-outline{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: white;
}

.footer-btn-container{
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  
}

.footer-text{
  display: flex;
  color: #4b4b4b;
}

.footer-btn{
  padding: 0.9rem 1.7rem;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  border-radius: 8px;
  color: white;
  background-color: var(--color-border-orange);
  border: none;
  outline: none;
}


/* styling footer logo */

.footer-logo-image img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.footer-logo-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
}

.line{
  border-bottom:  1px solid var(--color-dark-grey);
}


/* styling for container links */

.footer-container-links{
  /* border: 2px solid orangered; */
  display: flex;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  flex-wrap: wrap;

}

.footer-links-outline li{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  /* border: 2px solid rgb(21, 255, 0); */
  font-size: 1rem;
 
}

.footer-links-outline{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-links{
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.footer-links-outline a{
  text-decoration: none;
   color: #999;
}

.footer-social{
  display: flex;
  flex-direction: column;
  gap: 14rem;
  /* border: 2px solid red; */
}

.footer-social-outline ul{
 display: flex;
 list-style: none;
 gap: 1rem;
 /* border: 2px solid red; */

}

.footer-links-outline-1 a{
  color: #111111;
  font-size: 1.2rem;
  
}

.footer-icon{
  /* border: 2px solid red; */
  display: flex;
  justify-content: end;
  color: #4b4b4b;
  font-size: xx-large;
}

.social-icon:link,
.social-icon:visited,
.social-icon:hover,
.social-icon:active{
  color: inherit;
  text-decoration: none;
}

/* section-gap */





 
 
 
 
 
 
 
 















/* animation */
@keyframes dropdown{
  0%{
    transform: translateY(0);
    opacity: 0.1;
  }

  50%{
    transform: translateY(5vh);
    opacity: 0.7;
  }
  80%{
    /* background-color: #f05a22; */
    opacity: 0;
  }

  100%{
    transform: translateY(0.5vh);
    opacity: 0;
  }
}


@keyframes marquee {
  from {
      transform: translateX(100%);
  }

  to {
      transform: translateX(-100%);
  }
}



@media (min-width:1300px){
  body{
    /* background-color: #c6d30b; */
  }
}

@media (min-width:1600px){
  body{
    /* background-color: #c9b1b1; */
  }
  .main-icon-container{
    display: none;
    }
    
    .display-on-smaller-screen{
    display: none;
    }
    .header-container{
      /* border: 4px solid black; */
      width: 80%;
      margin: 0 auto;
      height: fit-content;
      margin-top: 1.4rem;
      margin-bottom: 6rem;
      }

      section{
        /* border: 4px solid rgb(234, 8, 8); */
        width: 61%;
        margin: 0 auto;
        }
  
        .animation-container{
          /* border: 4px solid rgb(234, 8, 8); */
          width: 70%;
          /* margin: 0 auto; */
          }
  
          
          .icon-background{
            /* border: 1px solid rgb(34, 234, 8); */
            width: 100%;
            margin: 0 auto;
            }
            
            
            .icon-container{
            /* border: 5px solid rgb(174, 0, 255); */
            width: 100%;
            margin: 0 auto;
            
            }

            .icon-outline2{
              border: 4px solid var(--color-background-previews);
              padding: 1.6rem 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 10px;
              border-radius: 10px;
              font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
              sans-serif;
              cursor: pointer;
              font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
              color: #f05a22;
              overflow:hidden ;
              }
              
              
              .icon-outline1{
              border: 4px solid var(--color-background-previews);
              padding: 1.6rem 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 10px;
              border-radius: 10px;
              font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
              sans-serif;
              cursor: pointer;
              font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
              
              }
              
              .icon-outline3{
              border: 4px solid var(--color-background-previews);
              padding: 1.6rem 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 10px;
              border-radius: 10px;
              font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
              sans-serif;
              cursor: pointer;
              font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
              }
           
        
    
  
}


@media (min-width:1800px){
  body{
  /* background-color: #f05a22; */
  }

  .main-icon-container{
    display: none;
    }
    
    .display-on-smaller-screen{
    display: none;
    }
    

  .header-container{
    /* border: 4px solid black; */
    width: 70%;
    margin: 0 auto;
    height: fit-content;
    margin-top: 1.4rem;
    margin-bottom: 6rem;
    }

    section{
      /* border: 4px solid rgb(234, 8, 8); */
      width: 52%;
      margin: 0 auto;
      }

      .animation-container{
        /* border: 4px solid rgb(234, 8, 8); */
        width: 70%;
        /* margin: 0 auto; */
        }

        
        .icon-background{
          /* border: 1px solid rgb(34, 234, 8); */
          width: 100%;
          margin: 0 auto;
          }
          
          
          .icon-container{
          /* border: 5px solid rgb(174, 0, 255); */
          width: 100%;
          margin: 0 auto;
          
          }

                 
    .icon-outline2{
      border: 4px solid var(--color-background-previews);
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
      sans-serif;
      cursor: pointer;
      font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
      color: #f05a22;
      overflow:hidden ;
      }
      
      
      .icon-outline1{
      border: 4px solid var(--color-background-previews);
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
      sans-serif;
      cursor: pointer;
      font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
      
      }
      
      .icon-outline3{
      border: 4px solid var(--color-background-previews);
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
      sans-serif;
      cursor: pointer;
      font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
      }


      @keyframes dropdown{
        0%{
        transform: translateY(0);
        opacity: 0.1;
        }
        
        50%{
        transform: translateY(1vh);
        opacity: 0.7;
        }
        
        100%{
        transform: translateY(1vh);
        opacity: 0;
        }
        
      
      }
   

  }
  

  @media (min-width:2000px){
    body{
    /* background-color: #5c22f0; */
    }
  
    .main-icon-container{
      display: none;
      }
      
      .display-on-smaller-screen{
      display: none;
      }
      
  
    .header-container{
      /* border: 4px solid black; */
      width: 64%;
      margin: 0 auto;
      height: fit-content;
      margin-top: 1.4rem;
      margin-bottom: 6rem;
      }
  
      section{
        /* border: 4px solid rgb(234, 8, 8); */
        width: 50%;
        margin: 0 auto;
        }
  
        .animation-container{
          /* border: 4px solid rgb(234, 8, 8); */
          width: 58%;
          /* margin: 0 auto; */
          }
  
  
          .icon-background{
            /* border: 1px solid rgb(34, 234, 8); */
            width: 100%;
            margin: 0 auto;
            }
            
            
            .icon-container{
            /* border: 5px solid rgb(174, 0, 255); */
            width: 100%;
            margin: 0 auto;
            
            }
  
            
    .icon-outline2{
      border: 4px solid var(--color-background-previews);
      padding: 2.3rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
      sans-serif;
      cursor: pointer;
      font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
      color: #f05a22;
      overflow:hidden ;
      }
      
      
      .icon-outline1{
      border: 4px solid var(--color-background-previews);
      padding: 2.3rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
      sans-serif;
      cursor: pointer;
      font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
      
      }
      
      .icon-outline3{
      border: 4px solid var(--color-background-previews);
      padding: 2.3rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
      sans-serif;
      cursor: pointer;
      font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
      }
      
      }

      @keyframes dropdown{
        0%{
        transform: translateY(0);
        opacity: 0.1;
        }
        
        50%{
        transform: translateY(0.4vh);
        opacity: 0.7;
        }
        80%{
        /* background-color: #050403; */
        opacity: 0;
        }
        
        100%{
        transform: translateY(0.8vh);
        opacity: 0;
        }
        
      
      }
      
        
  
   
  
  
  @media (min-width:2500px){
    body{
      /* background-color: #f0ab22; */
      }
      
      .main-icon-container{
      display: none;
      }
      
      .display-on-smaller-screen{
      display: none;
      }
      
      
      .header-container{
      /* border: 4px solid black; */
      width: 40%;
      margin: 0 auto;
      height: fit-content;
      margin-top: 1.1rem;
      margin-bottom: 6rem;
      }
      
      section{
      /* border: 4px solid rgb(234, 8, 8); */
      width: 30%;
      margin: 0 auto;
      }
      
      .animation-container{
      /* border: 4px solid rgb(234, 8, 8); */
      width: 44%;
      /* margin: 0 auto; */
      }
      
      .icon-background{
      /* border: 1px solid rgb(34, 234, 8); */
      width: 100%;
      margin: 0 auto;
      }
      
      
      .icon-container{
      /* border: 5px solid rgb(174, 0, 255); */
      width: 100%;
      margin: 0 auto;
      
      }
      
      
      .icon-outline2{
      border: 4px solid var(--color-background-previews);
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
      sans-serif;
      cursor: pointer;
      font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
      color: #f05a22;
      overflow:hidden ;
      }
      
      
      .icon-outline1{
      border: 4px solid var(--color-background-previews);
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
      sans-serif;
      cursor: pointer;
      font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
      
      }
      
      .icon-outline3{
      border: 4px solid var(--color-background-previews);
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
      sans-serif;
      cursor: pointer;
      font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
      }
    
      @keyframes dropdown{
        0%{
        transform: translateY(0);
        opacity: 0.1;
        }
        
        50%{
        transform: translateY(0.4vh);
        opacity: 0.7;
        }
        80%{
        /* background-color: #050403; */
        opacity: 0;
        }
        
        100%{
        transform: translateY(0.6vh);
        opacity: 0;
        }
        
      
      }
      
     
  }
  
  
  
  
  
  
  @media (min-width:3800px){
  body{
  /* background-color: #f90db3; */
  }
  .main-icon-container{
  display: none;
  }
  
  
  
  .header-container{
  /* border: 4px solid black; */
  width: 20%;
  margin: 0 auto;
  height: fit-content;
  margin-top: 0.9rem;
  margin-bottom: 5rem;
  }
  
  section{
  /* border: 4px solid rgb(234, 8, 8); */
  width: 20%;
  margin: 0 auto;
  }
  
  .animation-container{
  /* border: 4px solid rgb(234, 8, 8); */
  width: 29%;
  /* margin: 0 auto; */
  }
  .icon-background{
  /* border: 1px solid rgb(34, 234, 8); */
  width: 99%;
  margin: 0 auto;
  }
  
  .icon-container{
  /* border: 5px solid rgb(174, 0, 255); */
  width: 99%;
  margin: 0 auto;
  
  }
  .icon-flex-iteam{
    /* border: 4  px solid green; */
    /* flex: 1 1 30%;  */
    width:100%;
  
    
    
    
   
  }
  .icon-outline2{
  border: 4px solid var(--color-background-previews);
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  cursor: pointer;
  font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
  color: #f05a22;
  overflow:hidden ;
  }
  
  
  .icon-outline1{
  border: 4px solid var(--color-background-previews);
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  cursor: pointer;
  font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
  
  }
  
  .icon-outline3{
  border: 4px solid var(--color-background-previews);
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
  sans-serif;
  cursor: pointer;
  font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
  }
  
  
  @keyframes dropdown{
  0%{
  transform: translateY(0);
  opacity: 0.1;
  }
  
  50%{
  transform: translateY(0.4vh);
  opacity: 0.7;
  }
  80%{
  /* background-color: #050403; */
  opacity: 0;
  }
  
  100%{
  transform: translateY(0.5vh);
  opacity: 0;
  }
  
  }

  

 
  }


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* body {
      background-color: rgb(223, 223, 16);
      font-size: 18px;
  } */


  .main-icon-smaller-container{
    display: none;
  }

  section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }


  .display-on-smaller-screen{
    display: none;
  }

  .container-for-marquee-text-image{
    margin-top: 8rem;
  
  }
  
}



/* Large devices (desktops, 992px and up) */
@media (min-width: 905px) and (max-width: 1100.98px) {
  /* body {
      background-color: rgb(5, 238, 40);
      font-size: 17px;
  } */

  .section-btn-container{
    width: 60vw;
    margin: 0 auto;
    
  }

  .marquee-item{
    min-height: 18vh;
    
 
  }



  .display-on-smaller-screen{
    display: none;
  }

  .main-icon-smaller-container{
    display: none;
  }
  section{
    display: flex;
    flex-direction: column;
    gap: 4.7rem;
  }

  .text-container h4{
  
    /* border: 1px solid green; */
    font-size:clamp(2.2rem, 1vw + 1em, 0.75em);
    
   
  }

  .icon-container{
   max-height: 33rem;
   min-height: 39rem;
  }

  .text-section h1{
    font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
      sans-serif;
      /* border: 1px solid red; */
      flex: 1 3 48%;
      font-size:clamp(2.9rem, 2vw + 1rem, 1rem);
      
   }

   .faqs-write-up{
    
    width: 59vw;
    margin: 0 auto;
   }


   .footer-links{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  
  .container-for-marquee-text-image{
    margin-top: 4rem;
  
  }
  
  

  

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 896px) {
  body {
      /* background-color: rgb(28, 235, 235); */
      /* font-size: 16px; */
  } 

  
  .section-btn-container{
    width: 50vw;
    margin: 0 auto;
    
  } 

  

  .teams-container{
    display: none;
    
  }

  .header-container{
    width: 98vw;
    margin: auto;
  }


  .display-on-smaller-screen{
    display: none;
  }
  .main-icon-smaller-container{
    display: none;
  }

  section{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }

  .text-image-container{
    display: flex;
    flex-direction: column;
    background-color: #baa4db;
    gap: 1rem;
    padding: 6rem 0;
    /* margin: 10rem 0; */
    /* align-items: center; */
  }

  .image-container{
    /* border: 2px solid orangered; */
  
    max-width: 100%;
    width: 60vw;
    margin: 0 auto;

  }

  .text-container{

     /* border: 3px solid orchid; */
    max-width: 100%;
     width: 78vw;
     margin:  auto;
     display: flex;
     flex-direction: column; 
    

  }

  .icon-container{
    

  
  min-height:32rem;
  max-height: 38rem;


  
  }

  
  .text-container h4{
  
    /* border: 1px solid green; */
    font-size:clamp(1.8rem, 1vw + 1em, 0.75em);
    
   
  }

  .text-section h1{
    font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
      sans-serif;
      /* border: 1px solid red; */
      flex: 1 3 48%;
      font-size:clamp(2.8rem, 2vw + 1rem, 1rem);
      
   }

   .marquee-item{
    min-height: 18vh;
    
 
  }

  .faqs-write-up{
    
    width: 60vw;
    margin: 0 auto;
   }

   .footer-links{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .container-for-marquee-text-image{
    margin-top: 3rem;
  
  }



  


  

  
  

  

  

  


}








/* MEDIA 
 Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) {
  body {
      /* background-color: rgb(87, 18, 1); */
      /* font-size: 15px; */
  }
  .teams-container{
    display: none;
    
  }

  .btn{
    display: none;
  }

  .hamburger-container{
    display: block;
  }
  section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .section-btn-container{
    display: none;
  }

  .main-icon-container{
    width: 94vw;
    height: 40rem;
    /* min-height: 50vh; */
    margin: 0 auto;
    
  }

  /* .marquee-item{
    max-height:100vh ;
    min-height: 40vh;
    
 
  } */

  .icon-background{
    display: none;
  }

  .section-main-container{
    /* border: 1px solid goldenrod; */
  }


  .text-section{
    /* border: 2px solid yellow; */
    width: 84vw;
  }

  
  .text-image-container{
    display: flex;
    flex-direction: column;
    background-color: #baa4db;
    gap: 1rem;
    padding: 6rem 0;
    /* margin: 10rem 0; */
    /* align-items: center; */
  }

  .image-container{
    /* border: 2px solid orangered; */
  
    max-width: 100%;
    width: 60vw;
    margin: 0 auto;

  }

  .text-container{

     /* border: 3px solid orchid; */
    max-width: 100%;
     width: 78vw;
     margin:  auto;
     display: flex;
     flex-direction: column; 
    

  }

  
  .text-container h4{
  
    /* border: 1px solid green; */
    font-size:clamp(1.5rem, 1vw + 1em, 0.75em);
    
   
  }
  .text-section h1{
    font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
      sans-serif;
      /* border: 1px solid red; */
      flex: 1 3 48%;
      font-size:clamp(2.4rem, 2vw + 1rem, 1rem);
      
   }

   

   .icon-container{
    /* border: 8px solid sienna; */
    min-height:22rem;
    max-height: 30rem;
    
    }

    .faqs-write-up{
    
      width: 63vw;
      margin: 0 auto;
     }

     .footer_image{
      display: none;
     }

     .footer-write-up{
      display: flex;
      flex-direction: column;
      gap: 3rem;
      /* border: 2px solid rgb(250, 224, 215); */
      flex-basis:60%;
    
    
    }

    .footer-social{
      display: flex;
      flex-direction: column;
      gap: 1rem;
     }
  
     .footer-icon{
      /* border: 2px solid red; */
      display: flex;
      justify-content: start;
      color: #4b4b4b;
      font-size: xx-large;
    }


    .main-footer-social{
      margin-top: 3rem;
    }

    .container-for-marquee-text-image{
      margin-top: 4rem;
    
    }
  
  




}




   /* Extra small devices (phones, 0px and up) */
   @media (max-width: 575.98px)  {
   body {
        /* background-color: rgba(17, 17, 17, 0.904); */
        font-size: 14px;
    } 
    .teams-container{
      display: none;
      
    }

    .text-section{
      font-size:clamp(1rem, 2vw + 1rem, 1rem);
    }

    
    .btn{
      display: none;
    }

    .hamburger-container{
      display: block;
    }

    .header-container{
      height: 8vh;
      margin: 0 auto;
    }

    .animation-container h1{
      font-size:clamp(2rem, 2vw + 1rem, 1rem);
      line-height: 3rem;
      /* border: 1px solid rgb(10, 95, 164); */
    }

    .animation-container{
      /* display: none; */
      display: flex;
      flex-direction: column;

    }

    .text-animation b{
      font-size:clamp(1rem, 2vw + 1rem, 0.75rem);

    }

    .section-btn-container{
      display: none;
    }

    .main-icon-container{
      
  
    }
    .-container{
      width: 94vw;
      min-height: 20rem;
      height: 33rem;

    }

    section{
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .text-section{
      width: 90vw;
      margin: 0 auto;
    }

  .text-animation p{
    font-size: clamp(1.3rem, 2vw + 0.5rem, 0.10rem);
    line-height: 1rem;
  }

  .animation-small-phone{
    display: block;
  }
  .animation-container-img{
    display: none;
  }

  .icon-background{
    display: none;
  }

  
  .text-image-container{
    display: flex;
    flex-direction: column;
    background-color: #baa4db;
    gap: 1rem;
    padding: 6rem 0;
    /* margin: 10rem 0; */
    /* align-items: center; */
  }

  .image-container{
    /* border: 2px solid orangered; */
  
    max-width: 100%;
    width: 60vw;
    margin: 0 auto;

  }

  .text-container{

     /* border: 3px solid orchid; */
    max-width: 100%;
     width: 78vw;
     margin:  auto;
     display: flex;
     flex-direction: column; 
    

  }

  
  .text-container h4{
  
    /* border: 1px solid green; */
    font-size:clamp(1rem, 1vw + 1em, 0.75em);
    
   
  }

  .text-section h1{
    font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
      sans-serif;
      /* border: 1px solid red; */
      flex: 1 3 48%;
      font-size:clamp(2rem, 2vw + 1rem, 1rem);
      
   }
  

  .logo-holder img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .change-size{
    font-size:clamp(9rem, 1vw + 1em, 0.75em);
  }

  .marquee-item{
    min-height: 18vh;
    
 
  }

  .main-icon-container{

    height: 33rem;
    /* min-height: 50vh; */

    
  }

  .faqs-write-up{
    
    width: 87vw;
    margin: 0 auto;
   }


   .footer_image{
    display: none;
   }

   .footer-write-up{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* border: 2px solid rgb(37, 204, 14); */
    flex-basis:100%;
  
  
  }

  .footer-container{
    /* border: 1px solid yellow; */
    padding: 1rem;
  }

  .footer-social{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   }

   .footer-icon{
    /* border: 2px solid red; */
    display: flex;
    justify-content: start;
    color: #4b4b4b;
    font-size: xx-large;
  }


  
  .main-footer-social{
    margin-top: 3rem;
  }


  .hamburger-click-display {
    width: 100%;
    position: absolute;
    z-index:2;
    /* border: 1px solid red; */
    left: 0;
    top: 3rem;
    background-color: white;
    
  }

  .container-for-marquee-text-image{
    margin-top: 0;
   
  
  }





  
 



  @keyframes dropdown2{
    0%{
      transform: translateY(0);
      opacity: 0.1;
    }
  
    50%{
      transform: translateY(2vh);
      opacity: 0.7;
    }
    80%{
      /* background-color: #f05a22; */
      opacity: 0;
    }
  
    100%{
      transform: translateY(0.5vh);
      opacity: 0;
    }
    


}

/*